html {
    background-color:#fefefe;
    display: block;
} 
body {
    height: 100%;
    background-color:#fefefe;
    font-family: Tahoma, sans-serif, Arial;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    text-align: justify;
    line-height: 1.3;
}
h1 {
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    line-height: 0.6;
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    line-height: 0.1;
    text-align: center;
}
h4 {
    margin: 0;
    padding: 3;
}
.music {
    background-color:antiquewhite;
    color:black;
    margin: 0px;
    padding: 10px;
    width: 400px;
    border: 3px;
    border-color:black;
    border-style:solid;
}
.links {
    text-align: center;
}
td, th {
    border: 0.5px solid black;
    text-align: left;
    padding: 3px;
}
img {
    float: right;
}
form {
    float: right;
    background: antiquewhite;
    border: 2px;
    border-color:black;
    border-style:solid;
    padding: 5px;
}